.venv/

media/
# Python
*.pyc
__pycache__/
db.sqlite3

# Django
staticfiles/
.env
*.log

# OS/System
.DS_Store
*.swp

# Node/Tailwind
node_modules/
dist/

db.sqlite3
pycache/

package-lock.json

package.json

static/css/src/output.css